.item-chunk{
	position: relative;
}
.item-chunk .ntk-layout-item a.modal-button img{
	width: 100%;
	height: 100%;
}
.media-wrapper{
	position: inherit;
}

#fullscreencollectionview{
	display: none;
	background-color: green;
	width: 100%;
	height: 100%;
}

#player .modal-dialog{
	width: 640px;
}

.more.loading{
	background: url(/eddie/apps/euscreenxlelements/img/spinner.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ffffff;
}

.more.loading a{
	display: none;
}