<div class="page home desktop" id="page">
  <header id="header">
  	<!-- HEADER HERE -->
  </header>
  <!-- main section-->
    <div class="container main">
        <div class="row">
            <div class="col-md-12 jumbotron" id="carousel">
				<!-- CAROUSEL HERE -->
            </div>
        </div>

        <!-- row -->
        <div class="row hidden-xs">
            <div class="col-md-12 collection-viewer-tab">
                
                <!-- row -->
                <div class="row main-nav">

                    <!-- tabs -->
                    <div class="col-md-9 col-sm-8 tabs">
                        <ul class="nav nav-tabs">
            				<li class="active"><a href="#">Video Highlights</a></li>
            				<li><a href="#">In The News</a></li>
            				<li><a href="#">Series Picks</a></li>
            			</ul>
                    </div>

                    <!-- action icons -->
                    <div class="col-md-3 col-sm-4 col-cs-8 action">
                    	<ul class="list-inline pull-right button-list">
                    		<li>
                        		<button data-toggle="tooltip" data-placement="top" data-title="INFO" data-overlay="#terms-content">
	    							<i class="icono icono-info"></i>
	    						</button>
                    		</li>
                    		<li>
                        		<button data-toggle="tooltip" data-placement="top" data-title="EXPAND TO FULLSCREEN" data-overlay="#terms-content">
	    							<i class="icono icono-expand"></i>
	    						</button>
                    		</li>
                    	</ul>
                    </div>
                </div> 
                
                <!-- row -->
                <div class="row second-nav">

                    <!-- tabs -->
                    <div class="col-md-12 col-sm-12" id="themechooser">
                    	<!-- THEME CHOOSER HERE -->
                    </div>
                </div>        
            </div>
        </div>

        <!-- row -->
        <div class="row hidden-xs">
        	<div id="collectionview">
        	</div>
        </div>

        <!-- results -->
        <div class="row hidden-xs">
            <div class="more col-md-12">
                <a href="#">SHOW MORE</a>
            </div>
        </div>
    </div>
  <footer id="footer">
    <!-- FOOTER HERE -->
  </footer>
</div>

<!-- nav -->
<div id="mobilenav" class="mobilenav">
	<!-- mobilenav contents here -->
</div>