<div class="page home desktop" id="page">
  <header id="header">
  	<!-- HEADER HERE -->
  </header>
  <!-- main section-->
    <div class="container main">
        <div class="row">
            <div class="col-md-12 jumbotron">

                <!-- le carrousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <!-- slide 1 -->
                        <div class="item active">
                            <div class="bg bg-1">
                                <div class="wrap">
                                    <div class="carousel-caption">
                                        <h1>DISCOVER EUROPEÕS TELEVISION HISTORY</h1>
                                        <p>
                                            EUscreen offers free online access to videos, stills, texts and 
                                            audio from European broadcasters and audiovisual archives. Explore 
                                            selected content from early 1900s until today.
                                        </p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- slide 1 -->
                        <div class="item ">
                            <div class="bg bg-2">
                                <div class="wrap">
                                    <div class="carousel-caption">
                                        <h1>DISCOVER EUROPEÕS TELEVISION HISTORY</h1>
                                        <p>
                                            EUscreen offers free online access to videos, stills, texts and 
                                            audio from European broadcasters and audiovisual archives. Explore 
                                            selected content from early 1900s until today.
                                        </p> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"></a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"></a>
                </div>
            </div>
        </div>

        <!-- row -->
        <div class="row hidden-xs">
            <div class="col-md-12 collection-viewer-tab">
                
                <!-- row -->
                <div class="row main-nav">

                    <!-- tabs -->
                    <div class="col-md-9 col-sm-8 tabs">
                        <ul class="nav nav-tabs">
            				<li class="active"><a href="#">Video Highlights</a></li>
            				<li><a href="#">In The News</a></li>
            				<li><a href="#">Series Picks</a></li>
            			</ul>
                    </div>

                    <!-- action icons -->
                    <div class="col-md-3 col-sm-4 col-cs-8 action">
                    	<ul class="list-inline pull-right button-list">
                    		<li>
                        		<button data-toggle="tooltip" data-placement="top" data-title="INFO" data-overlay="#terms-content">
	    							<i class="icono icono-info"></i>
	    						</button>
                    		</li>
                    		<li>
                        		<button data-toggle="tooltip" data-placement="top" data-title="EXPAND TO FULLSCREEN" data-overlay="#terms-content">
	    							<i class="icono icono-expand"></i>
	    						</button>
                    		</li>
                    	</ul>
                    </div>
                </div> 
                
                <!-- row -->
                <div class="row second-nav">

                    <!-- tabs -->
                    <div class="col-md-12 col-sm-12">
                    	<ul class="list-inline">
                    		<li class="active"><a href="#">All Themes</a></li>
                    		<li><a href="#">Arts and Culture</a></li>
                    		<li><a href="#">Historical Events</a></li>
                    		<li><a href="#">Funny TV Moments</a></li>
                    		<li><a href="#">National Holidays</a></li>
                    		<li><a href="#">Disasters</a></li>
                    		<li><a href="#">Kid's Programme</a></li>
                    	</ul>
                    </div>
                </div>        
            </div>
        </div>

        <!-- row -->
        <div class="row hidden-xs">
        	<div id="collectionview">
        	</div>
        </div>

        <!-- results -->
        <div class="row hidden-xs">
            <div class="more col-md-12">
                <a href="#">SHOW MORE</a>
            </div>
        </div>
    </div>
  <footer id="footer">
    <!-- FOOTER HERE -->
  </footer>
</div>

<!-- nav -->
<div id="mobilenav" class="mobilenav">
	<!-- mobilenav contents here -->
</div>