<div class="page home desktop" id="page">
		<!-- HOME PAGE POPUP -->
		<div id="dialog-new">
		  <h2>EUScreenXL Information</h2>
		  <p>Dear Visitor, we would like to inform you that wee are working on an update in our servers and <b>some parts</b> of the website might not be fully functional.</p>
		  <p>Thank you for your understanding.</p>
		</div>
		
  <header id="header">
  	<!-- HEADER HERE -->
  </header>
  <!-- main section-->
    <div class="container main">
        <div class="row">
            <div class="col-md-12 jumbotron" id="carousel">
				<!-- CAROUSEL HERE -->
            </div>
        </div>
		
		<div id="collectionviewer">
        </div>
   	</div>
  <footer id="footer" class="hidden-xs hidden-sm visible-lg visible-md ">
    <!-- FOOTER HERE -->
  </footer>
</div>

<!-- nav -->
<div id="mobilenav" class="mobilenav">
	<!-- mobilenav contents here -->
</div>