<!-- le carrousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
       <!-- slide 1 -->
        <div class="item active">
            <div class="bg bg-1">
                <div class="wrap">
                    <div class="carousel-caption">
                        <h1>EUROPE ON THE SCREEN: DISCOVER 100 YEARS OF HISTORY, MEMORIES AND CULTURE</h1>
                        <p>
                            EUscreen offers thousands of items of film and television clips, photos and texts provided by audiovisual 
                            archives from all over Europe. It creates access to the most significant European events in the 20th and 
                            21st century, as well as to fashion, music, lifestyle, cooking, culture and more
                        </p> 
                    </div>
                </div>
            </div>
        </div>
        
        <!-- slide 2 -->
        <div class="item ">
            <div class="bg bg-2">
                <div class="wrap">
                    <div class="carousel-caption">
                        <h1 class="big">LEARN MORE ABOUT THE EUSCREEN COLLECTION</h1>
                        <a class="link" href="/about.html">VIEW EUSCREEN CONTENT SELECTION</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- slide 3 -->
        <div class="item ">
            <div class="bg bg-3">
                <div class="wrap">
                    <div class="carousel-caption">
                        <h1 class="big">FOLLOW EVENTS AND ACTIVITIES ON THE EUSCREEN BLOG</h1>
                        <a class="link" href="http://blog.euscreen.eu/" target="_blank">VISIT EUSCREEN BLOG</a> 
                    </div>
                </div>
            </div>
        </div>
        
        <!-- slide 4 -->
        <div class="item ">
            <div class="bg bg-4">
                <div class="wrap">
                    <div class="carousel-caption">
                        <h1 class="big">CREATE YOUR OWN COLLECTIONS ON MYEUSCREEN</h1>
                        <a class="link" href="/myeuscreen.html">CREATE COLLECTIONS NOW</a> 
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"></a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"></a>
</div>