<!-- le carrousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000">
		
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          <li data-target="#carousel-example-generic" data-slide-to="5"></li>
          <li data-target="#carousel-example-generic" data-slide-to="6"></li>
       <!-- <li data-target="#carousel-example-generic" data-slide-to="6"></li>-->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
     <div class="item active">
  <div class="bg" style="background-image: url(/eddie/apps/euscreenxlelements/img/content/banners/bg-homepage-contest.jpg); background-repeat: no-repeat">
    <div class="wrap">
      <div class="carousel-caption">
        <h1 class="big">EUSCREEN | VIDEO COMPETITION</h1>
        <p>Share with us your favourite EUscreen video by February 24. We’re giving away Amazon gift-cards (30 EUR each) to 12 winners.</p>
        <a class="link" href="/contest.html">LEARN MORE</a>
      </div>
      
      <div class="slider-links-container">
      	<div class="small-container">
      		<p class="links-p">EUSCREEN BLOG</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://blog.euscreen.eu/" target="_blank" class="links-a-2">News from the EUscreen Network</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">VIEW JOURNAL</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://journal.euscreen.eu/index.php/view" target="_blank" class="links-a-2">Journal of European Television History and Culture</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">WITH</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://with.image.ntua.gr/custom/euscreen/index.html" target="_blank" class="links-a-2">All EUscreen content in Europeana</a>
      	</div>
      </div>
      
    </div>
  </div>
</div>

<div class="item">
  <div class="bg bg-4">
    <div class="wrap">
      <div class="carousel-caption">
        <h1 class="big">SIGN UP FOR MYEUSCREEN</h1>
        <p>Bookmark your favourite videos, organise them in collections, build a video poster and share all these with others.</p>
        <a class="link" href="/myeuscreen.html">LEARN MORE</a>
      </div>
      
      <div class="slider-links-container">
      	<div class="small-container">
      		<p class="links-p">EUSCREEN BLOG</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://blog.euscreen.eu/" target="_blank" class="links-a-2">News from the EUscreen Network</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">VIEW JOURNAL</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://journal.euscreen.eu/index.php/view" target="_blank" class="links-a-2">Journal of European Television History and Culture</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">WITH</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://with.image.ntua.gr/custom/euscreen/index.html" target="_blank" class="links-a-2">All EUscreen content in Europeana</a>
      	</div>
      </div>
      
    </div>
  </div>
</div>

<div class="item">
<div class="bg bg-1">
  <div class="wrap">
    <div class="carousel-caption desktop-text">
      <h1>EUROPE ON SCREEN: DISCOVER A CENTURY OF HISTORY, MEMORIES AND CULTURE</h1>
      <p>
        EUscreen offers thousands of film and television clips, photos, audio recordings and documents. They come from audiovisual archives all over Europe. It creates access to the most significant European events in the 20th and 21st century. Its
        collections document fashion, music, lifestyle, cooking, culture and much, much more.
      </p>
    </div>
    <div class="carousel-caption mobile-text">
      <h1>EUROPE ON SCREEN: DISCOVER A CENTURY OF HISTORY, MEMORIES AND CULTURE</h1>
      <p>
        EUscreen offers thousands of items of film and television clips, photos and texts provided by audiovisual archives from all over Europe.
      </p>
    </div>
    
    <div class="slider-links-container">
      	<div class="small-container">
      		<p class="links-p">EUSCREEN BLOG</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://blog.euscreen.eu/" target="_blank" class="links-a-2">News from the EUscreen Network</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">VIEW JOURNAL</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://journal.euscreen.eu/index.php/view" target="_blank" class="links-a-2">Journal of European Television History and Culture</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">WITH</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://with.image.ntua.gr/custom/euscreen/index.html" target="_blank" class="links-a-2">All EUscreen content in Europeana</a>
      	</div>
      </div>
      
  </div>
</div>
</div>

<!-- slide 3 -->
<div class="item ">
<div class="bg bg-2">
  <div class="wrap">
    <div class="carousel-caption">
      <h1 class="big">LEARN MORE ABOUT EUSCREEN</h1>
      <a class="link" href="about.html">EUSCREEN EXPLAINED</a>
    </div>
    
    <div class="slider-links-container">
      	<div class="small-container">
      		<p class="links-p">EUSCREEN BLOG</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://blog.euscreen.eu/" target="_blank" class="links-a-2">News from the EUscreen Network</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">VIEW JOURNAL</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://journal.euscreen.eu/index.php/view" target="_blank" class="links-a-2">Journal of European Television History and Culture</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">WITH</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://with.image.ntua.gr/custom/euscreen/index.html" target="_blank" class="links-a-2">All EUscreen content in Europeana</a>
      	</div>
      </div>
      
  </div>
</div>
</div>

<!-- slide 4 -->
<div class="item ">
<div class="bg bg-3">
  <div class="wrap">
    <div class="carousel-caption">
      <h1 class="big">FOLLOW EVENTS AND ACTIVITIES ON THE EUSCREEN BLOG</h1>
      <a class="link" href="http://blog.euscreen.eu/" target="_blank">VISIT EUSCREEN BLOG</a>
    </div>
    
    <div class="slider-links-container">
      	<div class="small-container">
      		<p class="links-p">EUSCREEN BLOG</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://blog.euscreen.eu/" target="_blank" class="links-a-2">News from the EUscreen Network</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">VIEW JOURNAL</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://journal.euscreen.eu/index.php/view" target="_blank" class="links-a-2">Journal of European Television History and Culture</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">WITH</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://with.image.ntua.gr/custom/euscreen/index.html" target="_blank" class="links-a-2">All EUscreen content in Europeana</a>
      	</div>
      </div>
      
  </div>
</div>
</div>

<!-- slide 5 -->
<div class="item ">
<div class="bg bg-5">
  <div class="wrap">
    <div class="carousel-caption">
      <h1 class="big">EXPLORE EUSCREEN ON A MAP</h1>
      <a class="link" href="content-map.html">VIEW MAP</a>
    </div>
    
    <div class="slider-links-container">
      	<div class="small-container">
      		<p class="links-p">EUSCREEN BLOG</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://blog.euscreen.eu/" target="_blank" class="links-a-2">News from the EUscreen Network</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">VIEW JOURNAL</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://journal.euscreen.eu/index.php/view" target="_blank" class="links-a-2">Journal of European Television History and Culture</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">WITH</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://with.image.ntua.gr/custom/euscreen/index.html" target="_blank" class="links-a-2">All EUscreen content in Europeana</a>
      	</div>
      </div>
      
  </div>
</div>
</div>

<!-- slide 6 -->
<div class="item ">
<div class="bg bg-6">
  <div class="wrap">
    <div class="carousel-caption">
      <h1 class="big">Discover VIEW Journal</h1>
      <a class="link" href="http://journal.euscreen.eu/index.php/view" target="_blank">VISIT</a>
    </div>
    
    <div class="slider-links-container">
      	<div class="small-container">
      		<p class="links-p">EUSCREEN BLOG</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://blog.euscreen.eu/" target="_blank" class="links-a-2">News from the EUscreen Network</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">VIEW JOURNAL</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://journal.euscreen.eu/index.php/view" target="_blank" class="links-a-2">Journal of European Television History and Culture</a>
      	</div>
      	<div class="small-container">
      		<p class="links-p">WITH</p>
      		<div class="links-arrow-div"></div>
      		<a href="http://with.image.ntua.gr/custom/euscreen/index.html" target="_blank" class="links-a-2">All EUscreen content in Europeana</a>
      	</div>
      </div>
      
  </div>
</div>
</div>
		       
	</div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"></a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"></a>
</div>