<!-- le carrousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000">
		
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
    
        <!-- slide 1 -->
        <!-- 
        <div class="item active">
            <div class="bg bg-8">
                <div class="wrap">
                    <div class="carousel-caption">
                         <h1 class="big">HELP US IMPROVE EUSCREEN <br/> Your opinion matters!</h1>
                         <a class="link" target="_blank" href="https://www.surveymonkey.com/s/EUscreenXL">Participate in our short survey</a>
                    </div>
                </div>
            </div>
        </div>
        -->


		<div class="item active">
            <div class="bg bg-7">
                <div class="wrap">
                    <div class="carousel-caption">
                         <h1 class="big">EUScreenXL values your opinion</h1>
                         <a class="link" target="_blank" href="https://www.surveymonkey.com/r/?sm=VWNRcnAHa7wOR3KWEJtYhmYkOP6iqUYf8KONDi1EjtY%3d">Participate in this survey!</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item">
            <div class="bg bg-9">
                <div class="wrap">
                    <div class="carousel-caption">
                         <h1 class="big big2">Join us in Warsaw! Registration for our upcoming annual conference is now open</h1>
                         <a class="link" target="_blank" href="http://www.euscreenxl2015.eu">Click here to visit euscreenxl2015.eu for more information and to register</a>
                    </div>
                </div>
            </div>
        </div>
		
		
	   	<!-- slide 2 -->
        <div class="item">
            <div class="bg bg-1">
                <div class="wrap">
                    <div class="carousel-caption desktop-text">
                        <h1>EUROPE ON SCREEN: DISCOVER A CENTURY OF HISTORY, MEMORIES AND CULTURE</h1>
                        <p>
                            EUscreen offers thousands of film and television clips, photos, audio recordings and documents. 
                            They come from audiovisual archives all over Europe. It creates access to the most significant 
                            European events in the 20th and 21st century. Its collections document fashion, music, lifestyle, 
                            cooking, culture and much, much more.
                        </p> 
                    </div>
                    <div class="carousel-caption mobile-text">
                        <h1>EUROPE ON SCREEN: DISCOVER A CENTURY OF HISTORY, MEMORIES AND CULTURE</h1>
                        <p>
                            EUscreen offers thousands of items of film and television clips, photos and texts provided by 
                            audiovisual archives from all over Europe.
                        </p> 
                    </div>
                </div>
            </div>
        </div>
        
        <!-- slide 3 -->
        <div class="item ">
            <div class="bg bg-2">
                <div class="wrap">
                    <div class="carousel-caption">
                        <h1 class="big">LEARN MORE ABOUT EUSCREEN</h1>
                        <a class="link" href="about.html">EUSCREEN EXPLAINED</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- slide 4 -->
        <div class="item ">
            <div class="bg bg-3">
                <div class="wrap">
                    <div class="carousel-caption">
                        <h1 class="big">FOLLOW EVENTS AND ACTIVITIES ON THE EUSCREEN BLOG</h1>
                        <a class="link" href="http://blog.euscreen.eu/" target="_blank">VISIT EUSCREEN BLOG</a> 
                    </div>
                </div>
            </div>
        </div>
        
        <!-- slide 5 -->
        <div class="item ">
            <div class="bg bg-5">
                <div class="wrap">
                    <div class="carousel-caption">
                        <h1 class="big">EXPLORE EUSCREEN ON A MAP</h1>
                        <a class="link" href="content-map.html">VIEW MAP</a> 
                    </div>
                </div>
            </div>
        </div>
        
        <!-- slide 6 -->
        <div class="item ">
            <div class="bg bg-6">
                <div class="wrap">
                    <div class="carousel-caption">
                         <h1 class="big">Discover VIEW Journal</h1>
                         <a class="link" target="_blank" href="http://journal.euscreen.eu/index.php/view">VISIT</a>
                    </div>
                </div>
            </div>
        </div>
		
		 
		
        
	</div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"></a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"></a>
</div>