<script type="text/template" id="overlay-player-video-template">
	 <!-- replace with actual video player -->
    <video id="sampleMovie" width="640" poster="<%= video.poster %>" height="360" autoplay="autoplay" preload="preload" controls controlsList="nodownload">
		<source src="<%= video.src %>" type="video/mp4">
		<% if(video.subtitles){ %>
			<track label="English subtitles" kind="subtitles" srclang="en" src="<%= video.subtitles %>" type="text/vtt" default="default"></track>
		<% } %>
    </video>
</script>
<!-- modal -->
<div class="modal fade bs-example-modal-lg" id="player-modal" tabindex="-1" role="dialog" aria-labelledby="player-modalLabel" aria-hidden="true">
    
    <!-- close button -->
    <button type="button" class="close" data-dismiss="modal"><i class="icono icono-remove"></i></button>
    
    <!-- modal body -->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	
        	<!-- modal header -->
            <div class="modal-header">
           		<div class="pull-right item-anchor">
                	<a id="visit-item-page" href="item.html">
                		Visit item page
                    	<i class="glyphicon glyphicon-external-link fa fa-external-link"></i>
                	</a>
                </div>
                
                <!-- the title -->
                <h4 class="modal-title" id="player-modalLabel">Lorem ipsum dolor sit amet</h4>
            </div>
            
            <!-- modal content -->
            <div class="modal-body media-player aspect-ratio normal">
            
                <!-- replace with actual video player -->
                <video id="sampleMovie" width="640" poster="img/content/test/poster.gif" height="360" preload controls controlsList="nodownload">

                </video>
            </div>
        </div>
    </div>
    
    <!-- Google Analytics -->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-281426-43', 'auto');
	  ga('send', 'pageview');
	
	</script>
</div>