<script type="text/template" id="item-template">
	<% if(item.description){ %>
    <div class="ntk-layout-item media-item">
    	<div class="media-wrapper">
            <a class="modal-button">
                <img src="<% if(item.screenshot){print(item.screenshot)}else{print('http://player7.noterik.com/eddie/apps/euscreenxlelements/img/ic_thumbnail.gif')} %>" class="media-object img-responsive">
                <span class="media-hue"><i class="glyphicon glyphicon-play fa fa-play hidden-sm"></i></span>
                <span class="media-title">
                    <h3><%= item.description %></h3>
                </span>
            </a>
        </div>
    </div>
    <% } %>
</script>
<script type="text/template" id="video-highlights-text">
	<h3>Video Highlights</h3>
	<p>
	    Explore videos chosen by EUscreen partners. These video highlights showcase a range of EUscreen material from across Europe and have been specifically chosen by broadcasters and archivists. 
	</p>
</script>
<script type="text/template" id="in-the-news-text">
	<h3>In The News</h3>
	<p>
	    EUscreen content explores many historical events and topics that are still relevant today. In this section you will find collections of videos that refer to current affairs or topical issues.
	</p>
</script>
<script type="text/template" id="series-picks-text">
	<h3>Series Picks</h3>
	<p>
	    In addition to individual programmes and clips, EUscreen features series and collections. These range from broadcast series to newsreels, collections of amateur film, production stills and documents. Series Picks showcases a selection of this content. 
	</p>
</script>
<script type="text/template" id="chunk-template">
    <div class="item-chunk" data-ntk-gutter="3">
    	
    </div>
</script>

<!-- row -->
<div id="collection-viewer-element" class="row hidden-xs">
    <div class="col-md-12 collection-viewer-tab">
        
        <!-- row -->
        <div class="row main-nav">

            <!-- tabs -->
            <div class="col-md-9 col-sm-8 tabs">
                <ul class="nav nav-tabs">
    				<li class="active"><a href="#video-highlights" role="tab" data-toggle="tab">Video Highlights</a></li>
    				<li><a href="#in-the-news" role="tab" data-toggle="tab">In The News</a></li>
    				<li><a href="#series-picks" role="tab" data-toggle="tab">Series Picks</a></li>
    			</ul>
            </div>

            <!-- action icons -->
            <div class="col-md-3 col-sm-4 col-cs-8 media-action">
            	<ul class="list-inline pull-right button-list">
            		<li>
                		<button  data-toggle="tooltip" data-placement="top" data-title="INFO" data-overlay="#info-content">
							<i class="icono icono-info"></i>
						</button>
						<div class="overlaycontent" id="info-content">
						</div>
            		</li>
            		<li class="go-fullscreen">
                		<button id="go-fullscreen" data-toggle="tooltip" data-placement="top" data-title="EXPAND TO FULLSCREEN" data-overlay="#terms-content">
							<i class="icono icono-expand"></i>
						</button>
            		</li>
            		<li class="exit-fullscreen">
                		<button id="exit-fullscreen" data-toggle="tooltip" data-placement="top" data-title="EXIT FULLSCREEN" id="exitfullscreen-button" data-original-title="" title="">
							<i class="icono icono-minimize"></i>
						</button>
            		</li>
            	</ul>
            	<span class="logo-second"><h1>EUSCREEN</h1></span>
            </div>
        </div> 
        
        <!-- row -->
        <div class="row second-nav">

            <!-- tabs -->
            <div class="col-md-12 col-sm-12 subcats tab-content">
            	<div id="video-highlights" class="tab-pane active">
	            	<ul class="list-inline">
						<li class="active"><a href="#" data-topic="*">All Themes</a></li>
						<li><a href="#"  data-topic="Fashion">Fashion</a></li>
						<li><a href="#"  data-topic="Holidays and Traditions">Holidays and Traditions</a></li>
						<li><a href="#"  data-topic="Scenery and Landscape">Scenery and Landscape</a></li>
						<li><a href="#"  data-topic="Lifestyle and Health">Lifestyle and Health</a></li>
						<li><a href="#"  data-topic="Changing Times">Changing Times</a></li>
					</ul>
				</div>
				<div id="in-the-news" class="tab-pane">
					<ul class="list-inline">
						<li class="active"><a href="#" data-topic="Climate Change">Climate Change</a></li>
						<li><a href="#"  data-topic="Ukraine">Ukraine</a></li>
						<li><a href="#"  data-topic="Terrorism">Terrorism</a></li>
						<li><a href="#"  data-topic="Economic Crisis">Economic Crisis</a></li>
					</ul>
				</div>
				<div id="series-picks" class="tab-pane">
					<ul class="list-inline">
						<li class="active"><a href="#" data-series="Panorama" data-provider="BBC">Panorama</a></li>
						<li><a href="#" data-series="Man Alive" data-provider="BBC">Man Alive</a></li>
						<li><a href="#" data-series="Tonight" data-provider="BBC">Tonight</a></li>
						<li><a href="#" data-id="EUS_E89B933828211400F3EC2161D635B2E3">Les Actualit&eacute;s Fran&ccedil;aises</a></li>
					</ul>
				</div>
            </div>
        </div>        
    </div>
</div>

<!-- row -->
<div class="row hidden-xs">
	<div class="col-md-12 collection-viewer">
		<div class="row">
			<div class="col-md-12">
				<div class="collection-loading loading">
					
				</div>
				<div class="items ntk-layout-squared">
					<!-- CHUNKS OF ITEMS GO HERE -->
				</div>
			</div>
		</div>
	</div>
</div>

	</div>
</div>

<!-- results -->
<div class="row hidden-xs">
    <div class="more col-md-12">
        <a href="#">SHOW MORE</a>
    </div>
</div>